# IDE files
*.swp
*.swo:w

# bianries
app/backend/sohoaas-backend
mcp/server/backend/mcp-server

# env files
.env
mcp/server/.env
app/backend/.env
service-account-key.json

# node_modules, dist
node_modules
app/frontend/node_modules
app/fronend/dist
mcp/server/frontend/node_modules
mcp/server/frontend/dist
app/backend/internal/services/test_output
app/backend/internal/services/workflows

# genkit
app/backend/genkit
app/backend/.genkit
.genkit/**

# temporary files and folders
generated_workflows/**
test_output/**
test_verification/**
workflow/**
app/backend/workflows
windsurfrules.cue
